<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

ErrorDocument 404 /404.html

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^index$ index.php [NC]
</IfModule>
